{
  "extends": [
    "airbnb",
    "eslint-config-prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "rules": {
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": false,
        "assignment": false
      }
    ],
    "react/jsx-curly-newline": "off",
    "react/jsx-props-no-spreading": "off",
    "no-restricted-syntax": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "comma-dangle": "off"
  },
  "globals": {
    "fetch": false,
    "window": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src"
          ],
          [
            "@@",
            "/src/.umi"
          ]
        ],
        "extensions": [
          ".ts",
          ".js",
          ".jsx",
          ".json"
        ]
      }
    }
  }
}
