.sideNav {
  background: #fff;
  border-right: 1px solid #f0f0f0;
  :global {
    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
      border: none;
    }
    .anticon {
      width: 12px;
    }
  }
}
