<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Base ReactJS</title>
  <meta name="description" content="Base ReactJS">
  <meta name="author" content="Amela">

</head>

<body>
  <div id="root"></div>
</body>
</html>
